<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=crossoverdev.database.windows.net;Initial Catalog=AirTicketDB;Integrated Security=False;User ID=airticketdbuser;Password=!AirTicket@2016;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LinkedInClientId" value="78cb3o7rbecir6"/>
    <add key="LinkedInClientSecret" value="EBH0ds5dw0Qt2gqQ"/>
    <add key="TwitterConsumerKey" value="ov0SOzX6q56UG2NjvnhL7Aipy"/>
    <add key="TwitterConsumerSecret" value="pMYNacWSIB3XZ5IXKdRLpxgyo9ma2owEKEoAX9z98ylbb5fAKQ"/>
    <add key="key1" value="A5EF0B11CEC04103A34A659048B21CE0572D7D47"/>
    <add key="key2" value="0D445C165344C1827E1D20AB25F40163D8BE79A5"/>
    <add key="key3" value="7FD365A7C2DDECBBF03009F34339FA02AF333133"/>
    <add key="key4" value="39A55D933676616E73A761DFA16A7E59CDE66FAD"/>
    <add key="key5" value="add53f6680fe66e383cbac3e60922e3b4c412bed"/>
    <add key="key6" value="4eb6d578499b1ccf5f581ead56be3d9b6744a5e5"/>
    <add key="key7" value="5168FF90AF0207753CCCD9656462A212B859723B"/>
    <add key="key8" value="B13EC36903F8BF4701D498261A0802EF63642BC3"/>
    <add key="GooglePlusClientId" value="137688423666-bj1nbn04nn72ela5aana9dmk9g5qms51.apps.googleusercontent.com"/>
    <add key="GooglePlusClientSecret" value="S237-LaJTDzM5OzXJv338MFt"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
